.#{$ti-icon-prefix}-wand:before {content: "\e600";}
.#{$ti-icon-prefix}-volume:before {content: "\e601";}
.#{$ti-icon-prefix}-user:before {content: "\e602";}
.#{$ti-icon-prefix}-unlock:before {content: "\e603";}
.#{$ti-icon-prefix}-unlink:before {content: "\e604";}
.#{$ti-icon-prefix}-trash:before {content: "\e605";}
.#{$ti-icon-prefix}-thought:before {content: "\e606";}
.#{$ti-icon-prefix}-target:before {content: "\e607";}
.#{$ti-icon-prefix}-tag:before {content: "\e608";}
.#{$ti-icon-prefix}-tablet:before {content: "\e609";}
.#{$ti-icon-prefix}-star:before {content: "\e60a";}
.#{$ti-icon-prefix}-spray:before {content: "\e60b";}
.#{$ti-icon-prefix}-signal:before {content: "\e60c";}
.#{$ti-icon-prefix}-shopping-cart:before {content: "\e60d";}
.#{$ti-icon-prefix}-shopping-cart-full:before {content: "\e60e";}
.#{$ti-icon-prefix}-settings:before {content: "\e60f";}
.#{$ti-icon-prefix}-search:before {content: "\e610";}
.#{$ti-icon-prefix}-zoom-in:before {content: "\e611";}
.#{$ti-icon-prefix}-zoom-out:before {content: "\e612";}
.#{$ti-icon-prefix}-cut:before {content: "\e613";}
.#{$ti-icon-prefix}-ruler:before {content: "\e614";}
.#{$ti-icon-prefix}-ruler-pencil:before {content: "\e615";}
.#{$ti-icon-prefix}-ruler-alt:before {content: "\e616";}
.#{$ti-icon-prefix}-bookmark:before {content: "\e617";}
.#{$ti-icon-prefix}-bookmark-alt:before {content: "\e618";}
.#{$ti-icon-prefix}-reload:before {content: "\e619";}
.#{$ti-icon-prefix}-plus:before {content: "\e61a";}
.#{$ti-icon-prefix}-pin:before {content: "\e61b";}
.#{$ti-icon-prefix}-pencil:before {content: "\e61c";}
.#{$ti-icon-prefix}-pencil-alt:before {content: "\e61d";}
.#{$ti-icon-prefix}-paint-roller:before {content: "\e61e";}
.#{$ti-icon-prefix}-paint-bucket:before {content: "\e61f";}
.#{$ti-icon-prefix}-na:before {content: "\e620";}
.#{$ti-icon-prefix}-mobile:before {content: "\e621";}
.#{$ti-icon-prefix}-minus:before {content: "\e622";}
.#{$ti-icon-prefix}-medall:before {content: "\e623";}
.#{$ti-icon-prefix}-medall-alt:before {content: "\e624";}
.#{$ti-icon-prefix}-marker:before {content: "\e625";}
.#{$ti-icon-prefix}-marker-alt:before {content: "\e626";}
.#{$ti-icon-prefix}-arrow-up:before {content: "\e627";}
.#{$ti-icon-prefix}-arrow-right:before {content: "\e628";}
.#{$ti-icon-prefix}-arrow-left:before {content: "\e629";}
.#{$ti-icon-prefix}-arrow-down:before {content: "\e62a";}
.#{$ti-icon-prefix}-lock:before {content: "\e62b";}
.#{$ti-icon-prefix}-location-arrow:before {content: "\e62c";}
.#{$ti-icon-prefix}-link:before {content: "\e62d";}
.#{$ti-icon-prefix}-layout:before {content: "\e62e";}
.#{$ti-icon-prefix}-layers:before {content: "\e62f";}
.#{$ti-icon-prefix}-layers-alt:before {content: "\e630";}
.#{$ti-icon-prefix}-key:before {content: "\e631";}
.#{$ti-icon-prefix}-import:before {content: "\e632";}
.#{$ti-icon-prefix}-image:before {content: "\e633";}
.#{$ti-icon-prefix}-heart:before {content: "\e634";}
.#{$ti-icon-prefix}-heart-broken:before {content: "\e635";}
.#{$ti-icon-prefix}-hand-stop:before {content: "\e636";}
.#{$ti-icon-prefix}-hand-open:before {content: "\e637";}
.#{$ti-icon-prefix}-hand-drag:before {content: "\e638";}
.#{$ti-icon-prefix}-folder:before {content: "\e639";}
.#{$ti-icon-prefix}-flag:before {content: "\e63a";}
.#{$ti-icon-prefix}-flag-alt:before {content: "\e63b";}
.#{$ti-icon-prefix}-flag-alt-2:before {content: "\e63c";}
.#{$ti-icon-prefix}-eye:before {content: "\e63d";}
.#{$ti-icon-prefix}-export:before {content: "\e63e";}
.#{$ti-icon-prefix}-exchange-vertical:before {content: "\e63f";}
.#{$ti-icon-prefix}-desktop:before {content: "\e640";}
.#{$ti-icon-prefix}-cup:before {content: "\e641";}
.#{$ti-icon-prefix}-crown:before {content: "\e642";}
.#{$ti-icon-prefix}-comments:before {content: "\e643";}
.#{$ti-icon-prefix}-comment:before {content: "\e644";}
.#{$ti-icon-prefix}-comment-alt:before {content: "\e645";}
.#{$ti-icon-prefix}-close:before {content: "\e646";}
.#{$ti-icon-prefix}-clip:before {content: "\e647";}
.#{$ti-icon-prefix}-angle-up:before {content: "\e648";}
.#{$ti-icon-prefix}-angle-right:before {content: "\e649";}
.#{$ti-icon-prefix}-angle-left:before {content: "\e64a";}
.#{$ti-icon-prefix}-angle-down:before {content: "\e64b";}
.#{$ti-icon-prefix}-check:before {content: "\e64c";}
.#{$ti-icon-prefix}-check-box:before {content: "\e64d";}
.#{$ti-icon-prefix}-camera:before {content: "\e64e";}
.#{$ti-icon-prefix}-announcement:before {content: "\e64f";}
.#{$ti-icon-prefix}-brush:before {content: "\e650";}
.#{$ti-icon-prefix}-briefcase:before {content: "\e651";}
.#{$ti-icon-prefix}-bolt:before {content: "\e652";}
.#{$ti-icon-prefix}-bolt-alt:before {content: "\e653";}
.#{$ti-icon-prefix}-blackboard:before {content: "\e654";}
.#{$ti-icon-prefix}-bag:before {content: "\e655";}
.#{$ti-icon-prefix}-move:before {content: "\e656";}
.#{$ti-icon-prefix}-arrows-vertical:before {content: "\e657";}
.#{$ti-icon-prefix}-arrows-horizontal:before {content: "\e658";}
.#{$ti-icon-prefix}-fullscreen:before {content: "\e659";}
.#{$ti-icon-prefix}-arrow-top-right:before {content: "\e65a";}
.#{$ti-icon-prefix}-arrow-top-left:before {content: "\e65b";}
.#{$ti-icon-prefix}-arrow-circle-up:before {content: "\e65c";}
.#{$ti-icon-prefix}-arrow-circle-right:before {content: "\e65d";}
.#{$ti-icon-prefix}-arrow-circle-left:before {content: "\e65e";}
.#{$ti-icon-prefix}-arrow-circle-down:before {content: "\e65f";}
.#{$ti-icon-prefix}-angle-double-up:before {content: "\e660";}
.#{$ti-icon-prefix}-angle-double-right:before {content: "\e661";}
.#{$ti-icon-prefix}-angle-double-left:before {content: "\e662";}
.#{$ti-icon-prefix}-angle-double-down:before {content: "\e663";}
.#{$ti-icon-prefix}-zip:before {content: "\e664";}
.#{$ti-icon-prefix}-world:before {content: "\e665";}
.#{$ti-icon-prefix}-wheelchair:before {content: "\e666";}
.#{$ti-icon-prefix}-view-list:before {content: "\e667";}
.#{$ti-icon-prefix}-view-list-alt:before {content: "\e668";}
.#{$ti-icon-prefix}-view-grid:before {content: "\e669";}
.#{$ti-icon-prefix}-uppercase:before {content: "\e66a";}
.#{$ti-icon-prefix}-upload:before {content: "\e66b";}
.#{$ti-icon-prefix}-underline:before {content: "\e66c";}
.#{$ti-icon-prefix}-truck:before {content: "\e66d";}
.#{$ti-icon-prefix}-timer:before {content: "\e66e";}
.#{$ti-icon-prefix}-ticket:before {content: "\e66f";}
.#{$ti-icon-prefix}-thumb-up:before {content: "\e670";}
.#{$ti-icon-prefix}-thumb-down:before {content: "\e671";}
.#{$ti-icon-prefix}-text:before {content: "\e672";}
.#{$ti-icon-prefix}-stats-up:before {content: "\e673";}
.#{$ti-icon-prefix}-stats-down:before {content: "\e674";}
.#{$ti-icon-prefix}-split-v:before {content: "\e675";}
.#{$ti-icon-prefix}-split-h:before {content: "\e676";}
.#{$ti-icon-prefix}-smallcap:before {content: "\e677";}
.#{$ti-icon-prefix}-shine:before {content: "\e678";}
.#{$ti-icon-prefix}-shift-right:before {content: "\e679";}
.#{$ti-icon-prefix}-shift-left:before {content: "\e67a";}
.#{$ti-icon-prefix}-shield:before {content: "\e67b";}
.#{$ti-icon-prefix}-notepad:before {content: "\e67c";}
.#{$ti-icon-prefix}-server:before {content: "\e67d";}
.#{$ti-icon-prefix}-quote-right:before {content: "\e67e";}
.#{$ti-icon-prefix}-quote-left:before {content: "\e67f";}
.#{$ti-icon-prefix}-pulse:before {content: "\e680";}
.#{$ti-icon-prefix}-printer:before {content: "\e681";}
.#{$ti-icon-prefix}-power-off:before {content: "\e682";}
.#{$ti-icon-prefix}-plug:before {content: "\e683";}
.#{$ti-icon-prefix}-pie-chart:before {content: "\e684";}
.#{$ti-icon-prefix}-paragraph:before {content: "\e685";}
.#{$ti-icon-prefix}-panel:before {content: "\e686";}
.#{$ti-icon-prefix}-package:before {content: "\e687";}
.#{$ti-icon-prefix}-music:before {content: "\e688";}
.#{$ti-icon-prefix}-music-alt:before {content: "\e689";}
.#{$ti-icon-prefix}-mouse:before {content: "\e68a";}
.#{$ti-icon-prefix}-mouse-alt:before {content: "\e68b";}
.#{$ti-icon-prefix}-money:before {content: "\e68c";}
.#{$ti-icon-prefix}-microphone:before {content: "\e68d";}
.#{$ti-icon-prefix}-menu:before {content: "\e68e";}
.#{$ti-icon-prefix}-menu-alt:before {content: "\e68f";}
.#{$ti-icon-prefix}-map:before {content: "\e690";}
.#{$ti-icon-prefix}-map-alt:before {content: "\e691";}
.#{$ti-icon-prefix}-loop:before {content: "\e692";}
.#{$ti-icon-prefix}-location-pin:before {content: "\e693";}
.#{$ti-icon-prefix}-list:before {content: "\e694";}
.#{$ti-icon-prefix}-light-bulb:before {content: "\e695";}
.#{$ti-icon-prefix}-Italic:before {content: "\e696";}
.#{$ti-icon-prefix}-info:before {content: "\e697";}
.#{$ti-icon-prefix}-infinite:before {content: "\e698";}
.#{$ti-icon-prefix}-id-badge:before {content: "\e699";}
.#{$ti-icon-prefix}-hummer:before {content: "\e69a";}
.#{$ti-icon-prefix}-home:before {content: "\e69b";}
.#{$ti-icon-prefix}-help:before {content: "\e69c";}
.#{$ti-icon-prefix}-headphone:before {content: "\e69d";}
.#{$ti-icon-prefix}-harddrives:before {content: "\e69e";}
.#{$ti-icon-prefix}-harddrive:before {content: "\e69f";}
.#{$ti-icon-prefix}-gift:before {content: "\e6a0";}
.#{$ti-icon-prefix}-game:before {content: "\e6a1";}
.#{$ti-icon-prefix}-filter:before {content: "\e6a2";}
.#{$ti-icon-prefix}-files:before {content: "\e6a3";}
.#{$ti-icon-prefix}-file:before {content: "\e6a4";}
.#{$ti-icon-prefix}-eraser:before {content: "\e6a5";}
.#{$ti-icon-prefix}-envelope:before {content: "\e6a6";}
.#{$ti-icon-prefix}-download:before {content: "\e6a7";}
.#{$ti-icon-prefix}-direction:before {content: "\e6a8";}
.#{$ti-icon-prefix}-direction-alt:before {content: "\e6a9";}
.#{$ti-icon-prefix}-dashboard:before {content: "\e6aa";}
.#{$ti-icon-prefix}-control-stop:before {content: "\e6ab";}
.#{$ti-icon-prefix}-control-shuffle:before {content: "\e6ac";}
.#{$ti-icon-prefix}-control-play:before {content: "\e6ad";}
.#{$ti-icon-prefix}-control-pause:before {content: "\e6ae";}
.#{$ti-icon-prefix}-control-forward:before {content: "\e6af";}
.#{$ti-icon-prefix}-control-backward:before {content: "\e6b0";}
.#{$ti-icon-prefix}-cloud:before {content: "\e6b1";}
.#{$ti-icon-prefix}-cloud-up:before {content: "\e6b2";}
.#{$ti-icon-prefix}-cloud-down:before {content: "\e6b3";}
.#{$ti-icon-prefix}-clipboard:before {content: "\e6b4";}
.#{$ti-icon-prefix}-car:before {content: "\e6b5";}
.#{$ti-icon-prefix}-calendar:before {content: "\e6b6";}
.#{$ti-icon-prefix}-book:before {content: "\e6b7";}
.#{$ti-icon-prefix}-bell:before {content: "\e6b8";}
.#{$ti-icon-prefix}-basketball:before {content: "\e6b9";}
.#{$ti-icon-prefix}-bar-chart:before {content: "\e6ba";}
.#{$ti-icon-prefix}-bar-chart-alt:before {content: "\e6bb";}
.#{$ti-icon-prefix}-back-right:before {content: "\e6bc";}
.#{$ti-icon-prefix}-back-left:before {content: "\e6bd";}
.#{$ti-icon-prefix}-arrows-corner:before {content: "\e6be";}
.#{$ti-icon-prefix}-archive:before {content: "\e6bf";}
.#{$ti-icon-prefix}-anchor:before {content: "\e6c0";}
.#{$ti-icon-prefix}-align-right:before {content: "\e6c1";}
.#{$ti-icon-prefix}-align-left:before {content: "\e6c2";}
.#{$ti-icon-prefix}-align-justify:before {content: "\e6c3";}
.#{$ti-icon-prefix}-align-center:before {content: "\e6c4";}
.#{$ti-icon-prefix}-alert:before {content: "\e6c5";}
.#{$ti-icon-prefix}-alarm-clock:before {content: "\e6c6";}
.#{$ti-icon-prefix}-agenda:before {content: "\e6c7";}
.#{$ti-icon-prefix}-write:before {content: "\e6c8";}
.#{$ti-icon-prefix}-window:before {content: "\e6c9";}
.#{$ti-icon-prefix}-widgetized:before {content: "\e6ca";}
.#{$ti-icon-prefix}-widget:before {content: "\e6cb";}
.#{$ti-icon-prefix}-widget-alt:before {content: "\e6cc";}
.#{$ti-icon-prefix}-wallet:before {content: "\e6cd";}
.#{$ti-icon-prefix}-video-clapper:before {content: "\e6ce";}
.#{$ti-icon-prefix}-video-camera:before {content: "\e6cf";}
.#{$ti-icon-prefix}-vector:before {content: "\e6d0";}
.#{$ti-icon-prefix}-themify-logo:before {content: "\e6d1";}
.#{$ti-icon-prefix}-themify-favicon:before {content: "\e6d2";}
.#{$ti-icon-prefix}-themify-favicon-alt:before {content: "\e6d3";}
.#{$ti-icon-prefix}-support:before {content: "\e6d4";}
.#{$ti-icon-prefix}-stamp:before {content: "\e6d5";}
.#{$ti-icon-prefix}-split-v-alt:before {content: "\e6d6";}
.#{$ti-icon-prefix}-slice:before {content: "\e6d7";}
.#{$ti-icon-prefix}-shortcode:before {content: "\e6d8";}
.#{$ti-icon-prefix}-shift-right-alt:before {content: "\e6d9";}
.#{$ti-icon-prefix}-shift-left-alt:before {content: "\e6da";}
.#{$ti-icon-prefix}-ruler-alt-2:before {content: "\e6db";}
.#{$ti-icon-prefix}-receipt:before {content: "\e6dc";}
.#{$ti-icon-prefix}-pin2:before {content: "\e6dd";}
.#{$ti-icon-prefix}-pin-alt:before {content: "\e6de";}
.#{$ti-icon-prefix}-pencil-alt2:before {content: "\e6df";}
.#{$ti-icon-prefix}-palette:before {content: "\e6e0";}
.#{$ti-icon-prefix}-more:before {content: "\e6e1";}
.#{$ti-icon-prefix}-more-alt:before {content: "\e6e2";}
.#{$ti-icon-prefix}-microphone-alt:before {content: "\e6e3";}
.#{$ti-icon-prefix}-magnet:before {content: "\e6e4";}
.#{$ti-icon-prefix}-line-double:before {content: "\e6e5";}
.#{$ti-icon-prefix}-line-dotted:before {content: "\e6e6";}
.#{$ti-icon-prefix}-line-dashed:before {content: "\e6e7";}
.#{$ti-icon-prefix}-layout-width-full:before {content: "\e6e8";}
.#{$ti-icon-prefix}-layout-width-default:before {content: "\e6e9";}
.#{$ti-icon-prefix}-layout-width-default-alt:before {content: "\e6ea";}
.#{$ti-icon-prefix}-layout-tab:before {content: "\e6eb";}
.#{$ti-icon-prefix}-layout-tab-window:before {content: "\e6ec";}
.#{$ti-icon-prefix}-layout-tab-v:before {content: "\e6ed";}
.#{$ti-icon-prefix}-layout-tab-min:before {content: "\e6ee";}
.#{$ti-icon-prefix}-layout-slider:before {content: "\e6ef";}
.#{$ti-icon-prefix}-layout-slider-alt:before {content: "\e6f0";}
.#{$ti-icon-prefix}-layout-sidebar-right:before {content: "\e6f1";}
.#{$ti-icon-prefix}-layout-sidebar-none:before {content: "\e6f2";}
.#{$ti-icon-prefix}-layout-sidebar-left:before {content: "\e6f3";}
.#{$ti-icon-prefix}-layout-placeholder:before {content: "\e6f4";}
.#{$ti-icon-prefix}-layout-menu:before {content: "\e6f5";}
.#{$ti-icon-prefix}-layout-menu-v:before {content: "\e6f6";}
.#{$ti-icon-prefix}-layout-menu-separated:before {content: "\e6f7";}
.#{$ti-icon-prefix}-layout-menu-full:before {content: "\e6f8";}
.#{$ti-icon-prefix}-layout-media-right-alt:before {content: "\e6f9";}
.#{$ti-icon-prefix}-layout-media-right:before {content: "\e6fa";}
.#{$ti-icon-prefix}-layout-media-overlay:before {content: "\e6fb";}
.#{$ti-icon-prefix}-layout-media-overlay-alt:before {content: "\e6fc";}
.#{$ti-icon-prefix}-layout-media-overlay-alt-2:before {content: "\e6fd";}
.#{$ti-icon-prefix}-layout-media-left-alt:before {content: "\e6fe";}
.#{$ti-icon-prefix}-layout-media-left:before {content: "\e6ff";}
.#{$ti-icon-prefix}-layout-media-center-alt:before {content: "\e700";}
.#{$ti-icon-prefix}-layout-media-center:before {content: "\e701";}
.#{$ti-icon-prefix}-layout-list-thumb:before {content: "\e702";}
.#{$ti-icon-prefix}-layout-list-thumb-alt:before {content: "\e703";}
.#{$ti-icon-prefix}-layout-list-post:before {content: "\e704";}
.#{$ti-icon-prefix}-layout-list-large-image:before {content: "\e705";}
.#{$ti-icon-prefix}-layout-line-solid:before {content: "\e706";}
.#{$ti-icon-prefix}-layout-grid4:before {content: "\e707";}
.#{$ti-icon-prefix}-layout-grid3:before {content: "\e708";}
.#{$ti-icon-prefix}-layout-grid2:before {content: "\e709";}
.#{$ti-icon-prefix}-layout-grid2-thumb:before {content: "\e70a";}
.#{$ti-icon-prefix}-layout-cta-right:before {content: "\e70b";}
.#{$ti-icon-prefix}-layout-cta-left:before {content: "\e70c";}
.#{$ti-icon-prefix}-layout-cta-center:before {content: "\e70d";}
.#{$ti-icon-prefix}-layout-cta-btn-right:before {content: "\e70e";}
.#{$ti-icon-prefix}-layout-cta-btn-left:before {content: "\e70f";}
.#{$ti-icon-prefix}-layout-column4:before {content: "\e710";}
.#{$ti-icon-prefix}-layout-column3:before {content: "\e711";}
.#{$ti-icon-prefix}-layout-column2:before {content: "\e712";}
.#{$ti-icon-prefix}-layout-accordion-separated:before {content: "\e713";}
.#{$ti-icon-prefix}-layout-accordion-merged:before {content: "\e714";}
.#{$ti-icon-prefix}-layout-accordion-list:before {content: "\e715";}
.#{$ti-icon-prefix}-ink-pen:before {content: "\e716";}
.#{$ti-icon-prefix}-info-alt:before {content: "\e717";}
.#{$ti-icon-prefix}-help-alt:before {content: "\e718";}
.#{$ti-icon-prefix}-headphone-alt:before {content: "\e719";}
.#{$ti-icon-prefix}-hand-point-up:before {content: "\e71a";}
.#{$ti-icon-prefix}-hand-point-right:before {content: "\e71b";}
.#{$ti-icon-prefix}-hand-point-left:before {content: "\e71c";}
.#{$ti-icon-prefix}-hand-point-down:before {content: "\e71d";}
.#{$ti-icon-prefix}-gallery:before {content: "\e71e";}
.#{$ti-icon-prefix}-face-smile:before {content: "\e71f";}
.#{$ti-icon-prefix}-face-sad:before {content: "\e720";}
.#{$ti-icon-prefix}-credit-card:before {content: "\e721";}
.#{$ti-icon-prefix}-control-skip-forward:before {content: "\e722";}
.#{$ti-icon-prefix}-control-skip-backward:before {content: "\e723";}
.#{$ti-icon-prefix}-control-record:before {content: "\e724";}
.#{$ti-icon-prefix}-control-eject:before {content: "\e725";}
.#{$ti-icon-prefix}-comments-smiley:before {content: "\e726";}
.#{$ti-icon-prefix}-brush-alt:before {content: "\e727";}
.#{$ti-icon-prefix}-youtube:before {content: "\e728";}
.#{$ti-icon-prefix}-vimeo:before {content: "\e729";}
.#{$ti-icon-prefix}-twitter:before {content: "\e72a";}
.#{$ti-icon-prefix}-time:before {content: "\e72b";}
.#{$ti-icon-prefix}-tumblr:before {content: "\e72c";}
.#{$ti-icon-prefix}-skype:before {content: "\e72d";}
.#{$ti-icon-prefix}-share:before {content: "\e72e";}
.#{$ti-icon-prefix}-share-alt:before {content: "\e72f";}
.#{$ti-icon-prefix}-rocket:before {content: "\e730";}
.#{$ti-icon-prefix}-pinterest:before {content: "\e731";}
.#{$ti-icon-prefix}-new-window:before {content: "\e732";}
.#{$ti-icon-prefix}-microsoft:before {content: "\e733";}
.#{$ti-icon-prefix}-list-ol:before {content: "\e734";}
.#{$ti-icon-prefix}-linkedin:before {content: "\e735";}
.#{$ti-icon-prefix}-layout-sidebar-2:before {content: "\e736";}
.#{$ti-icon-prefix}-layout-grid4-alt:before {content: "\e737";}
.#{$ti-icon-prefix}-layout-grid3-alt:before {content: "\e738";}
.#{$ti-icon-prefix}-layout-grid2-alt:before {content: "\e739";}
.#{$ti-icon-prefix}-layout-column4-alt:before {content: "\e73a";}
.#{$ti-icon-prefix}-layout-column3-alt:before {content: "\e73b";}
.#{$ti-icon-prefix}-layout-column2-alt:before {content: "\e73c";}
.#{$ti-icon-prefix}-instagram:before {content: "\e73d";}
.#{$ti-icon-prefix}-google:before {content: "\e73e";}
.#{$ti-icon-prefix}-github:before {content: "\e73f";}
.#{$ti-icon-prefix}-flickr:before {content: "\e740";}
.#{$ti-icon-prefix}-facebook:before {content: "\e741";}
.#{$ti-icon-prefix}-dropbox:before {content: "\e742";}
.#{$ti-icon-prefix}-dribbble:before {content: "\e743";}
.#{$ti-icon-prefix}-apple:before {content: "\e744";}
.#{$ti-icon-prefix}-android:before {content: "\e745";}
.#{$ti-icon-prefix}-save:before {content: "\e746";}
.#{$ti-icon-prefix}-save-alt:before {content: "\e747";}
.#{$ti-icon-prefix}-yahoo:before {content: "\e748";}
.#{$ti-icon-prefix}-wordpress:before {content: "\e749";}
.#{$ti-icon-prefix}-vimeo-alt:before {content: "\e74a";}
.#{$ti-icon-prefix}-twitter-alt:before {content: "\e74b";}
.#{$ti-icon-prefix}-tumblr-alt:before {content: "\e74c";}
.#{$ti-icon-prefix}-trello:before {content: "\e74d";}
.#{$ti-icon-prefix}-stack-overflow:before {content: "\e74e";}
.#{$ti-icon-prefix}-soundcloud:before {content: "\e74f";}
.#{$ti-icon-prefix}-sharethis:before {content: "\e750";}
.#{$ti-icon-prefix}-sharethis-alt:before {content: "\e751";}
.#{$ti-icon-prefix}-reddit:before {content: "\e752";}
.#{$ti-icon-prefix}-pinterest-alt:before {content: "\e753";}
.#{$ti-icon-prefix}-microsoft-alt:before {content: "\e754";}
.#{$ti-icon-prefix}-linux:before {content: "\e755";}
.#{$ti-icon-prefix}-jsfiddle:before {content: "\e756";}
.#{$ti-icon-prefix}-joomla:before {content: "\e757";}
.#{$ti-icon-prefix}-html5:before {content: "\e758";}
.#{$ti-icon-prefix}-flickr-alt:before {content: "\e759";}
.#{$ti-icon-prefix}-email:before {content: "\e75a";}
.#{$ti-icon-prefix}-drupal:before {content: "\e75b";}
.#{$ti-icon-prefix}-dropbox-alt:before {content: "\e75c";}
.#{$ti-icon-prefix}-css3:before {content: "\e75d";}
.#{$ti-icon-prefix}-rss:before {content: "\e75e";}
.#{$ti-icon-prefix}-rss-alt:before {content: "\e75f";}
